@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/***** Reset Stylesheet *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  font-size: 100%;
  background: transparent;
  text-decoration: none;
  display: flex;
}

/*****Colors*****/

:root {
  --primary-color: #3db5fa;
  --primary-bg-color: rgb(24, 22, 22);
  --secondary-bg-color: rgb(34, 32, 32);
  --white-color: white;
  --black-color: black;
  --font-size-XX-large: clamp(3rem, 12vw, 10rem);
  --font-size-X-large: clamp(1.2rem, 2.5vw, 10rem);
  --font-size-large: clamp(1rem, 1.5vw, 10rem);
  --font-size-regular: clamp(12px, 2.5vw, 1rem);
  --font-size-small: clamp(8px, 1vw, 1rem);
}
body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: 2.5rem  minmax(calc(100vh - 7.5rem),1fr) 5rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/*****Navigation Bar For Desktop *****/

.nav-bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: var(--primary-bg-color);
  border-bottom: 2px solid var(--primary-color);
}
.nav-bar__img--logo {
  margin-left: 1rem;
  min-width: 6rem;
  max-width: 10rem;
}
.nav-bar__list {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar__item {
  color: var(--primary-color);
  font-size: var(--font-size-medium);
  padding: 5px 8px;
  border: 2px solid transparent;
}
.nav-bar__img--icon{
  min-width: 1rem;
  max-width: 1.5rem;
}
.nav-bar__item:hover {
  border-bottom: 2px solid var(--primary-color);
}

/* Navigation Bar For Tab and Mobile */

.nav-bar--hamburger {
  display: none;
}
.nav-bar__img--hamburger {
  width: 1.5rem;
}

/* Hamburger List */

.hamburger {
  grid-area: header;
  visibility: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  width: 0;
  transition: width 0.5s;
  border-right: 2px solid var(--primary-color);
  background-color: var(--primary-bg-color);
}
.hamburger__header--wrapper {
  display: flex;
  justify-content: space-between;
}
.hamburger__title {
  font-size: var(--font-size-X-large);
  margin: 1rem;
  color: var(--primary-color);
}
.hamburger__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hamburger__item {
  margin: 1rem;
  font-size: var(--font-size-X-large);
  color: var(--white-color);
}
.hamburger__close-btn {
  position: absolute;
  right: 0;
  top: 4px;
  margin: 1rem;
  width: 1rem;
}
.hamburger__item:hover {
  color: var(--primary-color);
  background-color: var(--secondary-bg-color);
}
.hamburger__btn {
  width: 85%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 8px;
  font-size: var(--font-size-large);
  background-color: var(--primary-bg-color);
  border: 2px solid var(--primary-color);
}
/*** Cart badge ***/ 
.badge__wrapper{
    display: inline-block;
    position: relative;
  }
  .badge--logo{
    font-size:70%;
    font-weight: 900;
    background-color: red;
    color: white;
    border-radius:10px;
    padding:0.1rem 0.4rem;
    position: absolute;
    right:-6px;
    top:0;
  }
  /*badge on Icon */
  .badge__icon--img{
    width: 3rem;
  }
  

main {
  grid-area: main;
  background-color: var(--secondary-bg-color);
}

/* signup form Stats Here */
.signup{
  position: relative;
  top:48%;
  left:50%;
  transform: translate(-50%,-50%);
  max-width: 40rem;
}
.signup--header{
  text-align: center;
  margin:1rem 0;
}
.signup__title{
  color:var(--primary-color);
  font-size: var(--font-size-X-large);
}
.signup-form{
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px grey;
}
.signup-form__label{
  color: var(--primary-color);
  font-size: var(--font-size-regular);
  font-weight: 600;
}
.signup-form--name-wrapper ,.signup-form--password-wrapper{
  display: flex;
  flex-direction: column;
  margin-right:1rem;
}

.signup-form--username-wrapper ,.signup-form--user-password-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.signup-form__input-demo{
  padding:4px 4px;
  border-radius: 5px;
  margin: 8px 0;
  border: 2px solid var(--primary-color);
}
.signup-form__input-demo::placeholder{
  color: var(--primary-color);
}
.signup-form--submit{
  text-align: center;
  margin:2rem 0 12px
}
.signup-form__btn--submit{
  padding: 4px 1rem;
  font-size: var(--font-size-regular);
  color:var(--white-color);
  background-color: var(--primary-color);
  border:2px solid var(--primary-color);
  border-radius: 5px;
}
.signup-form__btn--submit:hover {
  background-color: transparent;
  color: var(--primary-color);
}
.signup-form__btn--new-account{
  margin: 8px;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  font-size: var(--font-size-regular);
  cursor: pointer;
}

/* signup form ends here */


/***** footer *****/

.footer {
  grid-area: footer;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
}
.footer__list {
  display: flex;
  align-items: center;
}
.footer__img {
  width: 30px;
  margin: 4px 8px;
}
.footer__content {
  color: var(--primary-color);
  font-size: var(--font-size-medium);
  margin: 8px;
}

/***** footer Ends Here *****/

/*** Scroll bar ***/

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
}